*{
    margin: 0;
    padding: 0;
}

.posts{
    width: 100%;
    /*height: 100%;*/
    padding-bottom: 30px;
}

.add_post_wrapper{
    margin-top: 15px;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    /*height: 80px;*/
    padding: 10px 10px;
}


.add_post_input{
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding: 16px 20px 16px 12px;
    outline: none;
    border: 0;
    resize:none;
}
.post_btn_wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.post_btn {
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    height: 30px;
    width: 120px;
    background-color: #5181b8;
    border: 0;
    outline: none;
    color: #fff;
    font-family: Arial, Georgia, sans-serif;
    font-size: 12.5px;
}

.post_btn:hover {
    opacity: .88;
}

.post_btn:active{
    padding: 9px 16px 7px;
}


















