.friend_item_container {
    /*height: 114px;*/
    min-height: 20%;
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    border-bottom: grey 1px solid;
}

.info_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.underline {
    border: none;
    background-color: grey;
    height: 1px;
}

.img_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ava {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

.name {
    display: inline-block;
    /*margin-top: 15px;*/
}

.name h2 {
    color: #34d9bf;
}

.to_messages {
    margin-top: 15px;
    font-size: 18px;
}

.to_messages .link {
    color: white;
}

.link {
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #ffffff;
}

.follow_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.unfollow_btn {
    width: 50%;
    height: 10%;
    cursor: pointer;
    box-sizing: border-box;
    background-color: darkred;
    border-color: darkred;
    border-radius: 5%;
    outline: none;
    color: white;
}