* {
    margin: 0;
    padding: 0;
}

.profile {
    margin-top: 80px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
}

/*.user_page_header{*/
/*    width: 500px;*/
/*    height: 120px;*/
/*    background-color: #fff;*/
/* }*/

.column1_wrapper {
    display: flex;
    flex-direction: column;
    width: 230px;
    border-radius: 4px;
}

.avatar_info_wrapper {
    background-color: #fff;
    border-radius: 4px;
    padding: 15px;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 200px;
    height: 200px;
    /*background-size: contain;*/
    border-radius: 2px;
}

.write_msg_btn_wrapper{
    margin-top: 20px;
}

.write_msg_btn {
    cursor: pointer;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    height: 30px;
    width: 162px;
    background-color: #5181b8;
    border: 0;
    outline: none;
    color: #fff;
    font-family: Arial, Georgia, sans-serif;
    font-size: 12.5px;
}

.write_msg_btn:hover {
    opacity: .88;
}

.write_msg_btn:active{
    padding: 9px 16px 7px;
}

.add_friend_btn_wrapper{
    margin-top: 10px;
}

.add_friend_btn {
    cursor: pointer;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    height: 30px;
    width: 162px;
    background-color: #5181b8;
    border: 0;
    outline: none;
    color: #fff;
    font-family: Arial, Georgia, sans-serif;
    font-size: 12.5px;
}

.add_friend_btn:hover {
    opacity: .88;
}
.add_friend_btn:active{
    padding: 9px 16px 7px;
}

.friend_block{
    margin-top: 15px;
    width: 100%;
    /*height: 280px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    padding-bottom: 8px;
}

.block_title{
    padding: 0 15px;
    height: 32px;
    line-height: 40px;
    overflow: hidden;
    font-weight: 400;
    font-size: 12.5px;
    letter-spacing: 0;
    outline: 0;
    color: black;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.block_title_name{
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 12.5px;
    letter-spacing: 0;
    font-family: Arial,Georgia, sans-serif;
}


.block_friends_count{
    margin-left: 6px;
    color: grey;
    line-height: 40px;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 12.5px;
    letter-spacing: 0;
    font-family: Arial,Georgia, sans-serif;
}

.block_friends_list{

}

.block_friends_list_row{
    width: 210px;

    display: flex;
}

.friend_item_wrapper{
    padding: 8px 0 5px;
    width: 70px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.friend_item_avatar{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 7px;
}

.friend_item_name{
    font-family: Arial, Georgia, sans-serif;
    cursor: pointer;
    color:#2a5885;
    font-size: 12.5px;
}

.friend_item_name:hover{
    opacity: .88;
    text-decoration: underline;
}








.column2_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 550px;
    /*padding: 15px;*/
}

.page_info_wrapper {
    min-height: 280px;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 4px;
}


.page_top {
    padding: 0 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 13px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fullName {
    font-size: 19px;
    line-height: 25px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Arial, Georgia, sans-serif;
    webkit-font-smoothing: subpixel-antialiased;
}


.isOnline {
    font-family: Arial, Georgia, sans-serif;
    font-size: 12.5px;
    line-height: 18px;
    color: grey;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
}


.main_info {
    padding-top: 10px;
}

.info_row {
    padding-top: 5px;
    font-size: 13px;
    font-family: Arial, Georgia, sans-serif;
    line-height: 150%;
    width: 100%;
}

.info_key {
    /*margin-right: 100px;*/
    display: inline-block;
    width: 165px;
    color: grey;
}

.info_prop {
    text-align: left;
    cursor: pointer;
    color: #2a5885;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info_prop:hover {
    text-decoration: underline;
}

.section_title_wrapper{
    margin-top: 24px;
}

.section_title {
    padding-right: 7px;
    padding-bottom: 4px;
    background-color: #fff;
    font-size: 13px;
    line-height: 150%;
    font-family: Arial, Georgia, sans-serif;
}

.chess_info_section {
    padding-top: 5px;
    margin: -9px 0 4px;
    border-top: 1px solid rgba(0, 0, 0, .2);
}




















