* {
    margin: 0;
    padding: 0;
}

.message_container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    /*background-color: lawngreen;*/
    width: 350px;
    height: auto;
}

.img_wrapper {
    width: 60px;
    height: 60px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



.message_body {
    position: relative;
    border-radius: 10px 10px 10px 10px;
    background-color: darkgreen;
    font-family: -apple-system;
    width: 250px;
    height: auto;
}

.message_body::before{
    content: '';
    position: absolute;
    left: -20px;
    bottom: 0px;
    /*border: 10px solid transparent;*/
    /*border-right: 20px solid darkgreen;*/
    border: 10px solid transparent;
    border-right: 20px solid darkgreen;
    border-bottom: 5px solid darkgreen;
}


.message_body h4 {
    color: darkorchid;
    margin-left: 5px;
}

.message_text {
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    word-wrap: break-word;

}

.time_wrapper{
    display: flex;
    justify-content: flex-end;
}

.time{
    margin-right: 5px;
    color: grey;
}