* {
    margin: 0;
    padding: 0;
}

.content {
    grid-area: content;
    /*58px- height of header*/
    /*height: calc(100vh - 58px);*/
    /*background: url("../img/bright.jpg") center no-repeat;*/
    /*background-size: cover;*/
}

.preloader_wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}