*{
    margin: 0;
    padding: 0;
}

.post_wrapper{
    margin-top: 20px;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    /*height: 80px;*/

}

.post_header{
    position: relative;
    padding: 15px 20px 0;
    height: 50px;;
    display: flex;
}
.avatar {
    width: 50px;
    height: 50px;
    /*background-size: contain;*/
    border-radius: 50%;
}

.blind_label{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    opacity: 0;
    overflow: hidden;
    outline: 0;
}
.avatar::after{
    left:60px;
    border: 2px solid #fff;
    content: '';
    position: absolute;
    top: 50px;
    width: 8px;
    height: 8px;
    background-color: #08b308;
    border-radius: 50%;
}

.post_title_wrapper{
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.post_title{
    cursor: pointer;
    color:#2a5885;
    text-decoration: none;
    font-weight: 600;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 15px;
    font-family: Arial, Georgia, sans-serif;
}
.post_title:hover{
    text-decoration: underline;
}

.post_date{
    margin-top: 5px;
    font-size: 13px;
    font-weight: 500;
    color: grey;
    font-family: Arial, Georgia, sans-serif;
}


.wall_post_text{
    margin-top: 25px;
    padding: 8px 20px 10px;
    margin-bottom: -5px;
    line-height: 14px;
    overflow: hidden;
    font-size: 15px;
    font-family: Arial, Georgia, sans-serif;
    --post-padding-lr: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    word-break: break-word;
}

.delete_btn{
    align-self: flex-end;
    /*margin-top: 10px;*/
    cursor: pointer;
    color: #2a5885;
    height: 30px;
    line-height: 30px;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: Arial, Georgia, sans-serif;
    font-size: 15px;
    user-select: none;
}
.delete_btn:hover{
    opacity: .88;
    text-decoration: underline;
}
