.friend_item_container {
    /*height: 114px;*/
    min-height: 18%;
    display: grid;
    grid-template-columns: 150px 1fr;
    border-bottom: grey 1px solid;
}

.info_grid{
    display: grid;
    grid-template-columns: 1fr 200px;
}

.info_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.underline {
    border: none;
    background-color: grey;
    height: 1px;
}

.img_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ava {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

.name {
    display: flex;
    align-items: flex-end;
    /*display: inline-block;*/
    /*margin-top: 15px;*/
}

.name h2 {
    color: #34d9bf;
}

.status {
    margin-top: 15px;
    font-size: 18px;
    color: white;
}


.link {
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #ffffff;
}

.age {
    color: #c60d6c;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
}

.follow_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.location{
    color: white;
    font-style: italic;
    font-size: 16px;
}
.follow_btn {
    cursor: pointer;
    width: 40%;
    height: 35%;
    background-color: darkgreen;
    border-color: darkgreen;
    border-radius: 5%;
    outline: none;
    color: white;
}


.unfollow_btn{
    cursor: pointer;
    width: 40%;
    height: 35%;
    background-color: darkred;
    border-color: darkred;
    border-radius: 5%;
    outline: none;
    color: white;
}
