* {
    margin: 0;
    padding: 0;
    font-family: Arial, Georgia, sans-serif;
}

.fullNew {
    padding-bottom: 40px;
    margin-top: 80px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
    /*padding: 0 20px 5px;*/
    border-bottom: 1px solid #e7e8ec;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
}

.fullNew_photo{
    position: relative;
    width: 100%;
    height: 400px;
    /*background-size: contain;*/
    /*border-radius: 4px;*/
    background-color: #fff;

}


.fullNew_photo_blackout{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    padding: 30px 30px 0 30px;
}
/*.fullNew_photo_blackout:hover{*/
/*    background-color: rgba(0,0,0,.4);*/
/*}*/


.panorama{
    text-decoration: none;
    margin-bottom: 5px;
    display: inline-block;
    cursor: pointer;
    color: rgba(255,255,255,1);
    font-weight: bold;
    letter-spacing: 0px;
    transition: color .2s;
}
.panorama:hover{
    opacity: .88;
}

.fullNew_title{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    cursor: default;
    word-break: break-word;
}

.fullNew_content{
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}

.fullNew_content_title{
    line-height: 27px;
    font-size: 16px;
    color: #222;
    margin: 16px;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
}

.fullNew_content_text{

}

.paragraph{
    line-height: 27px;
    font-size: 16px;
    color: #222;
    margin: 16px;
}

.comments{
    width: 100%;
}

.add_comment_wrapper{
    margin-top: 15px;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    /*height: 80px;*/
    padding: 10px 10px;
}

.add_comment_input{
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding: 16px 20px 16px 12px;
    outline: none;
    border: 0;
    resize:none;
}
.comment_btn_wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.comment_btn {
    cursor: pointer;
    margin-top: 5px;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    height: 30px;
    width: 120px;
    background-color: #5181b8;
    border: 0;
    outline: none;
    color: #fff;
    font-family: Arial, Georgia, sans-serif;
    font-size: 12.5px;
}

.comment_btn:hover {
    opacity: .88;
}

.comment_btn:active{
    padding: 9px 16px 7px;
}
