* {
    margin: 0;
    padding: 0;
    font-family: Arial, Georgia, sans-serif;
}

.messageBody {

    /*position: relative;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    position: fixed;
    left: 35%;

    margin-top: 80px;
    height: 100%;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
}

.main_wrapper{
    padding: 0 20px 18px;
    width: 550px;

}

.main_header{
    /*position: relative;*/
    /*z-index: 1;*/

    background: #fafbfc;
    padding: 0 20px;
    border-bottom: 1px solid #e7e8ec;
    border-radius: 4px 4px 0 0;
    height: 54px;
    line-height: 54px;
    font-size: 16px;
    outline: 0;
    color: #000000;
    font-family: Arial,Georgia,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.message_body{
    padding: 15px 28px;
    height: 60vh;
    width: 100%;
    background-color: #fff;
    overflow-y: scroll;
}

.add_post_wrapper{
    margin-top: 10px;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    /*height: 80px;*/
    padding: 10px 10px;
}


.add_post_input{
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding: 10px 20px 10px 12px;
    outline: none;
    border: 0;
    resize:none;
}
.post_btn_wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.post_btn {
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    height: 30px;
    width: 120px;
    background-color: #5181b8;
    border: 0;
    outline: none;
    color: #fff;
    font-family: Arial, Georgia, sans-serif;
    font-size: 12.5px;
}

.post_btn:hover {
    opacity: .88;
}

.post_btn:active{
    padding: 9px 16px 7px;
}


















