
.header {
    grid-area: header;
    background-color: #000000;
    color: #ffffff;
}

.wrap {
    display: grid;
    grid-template: 'logo login' 1fr/12% 1fr;
}

@media (max-width: 981px) {
    .wrap {
        grid-template: 'logo login' 1fr/118px 1fr;
    }
}

.logo {
    display: flex;
    grid-area: logo;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.logo_img {
    width: 100%;
    height: auto;
}


.login {
    grid-area: login;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}


.login_link {
    margin-right: 50px;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: color;
    transition-duration: 500ms;
    font-family: -apple-system;
}


.item:first-child {
    margin-left: 0;
}

.login_link:hover, .login_link:active, .login_link:focus {
    cursor: pointer;
    color: #f84545;
}


.auth_wrapper {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth_wrapper p {
    margin-right: 10%;
}


.logout_btn {
    margin-right: 50px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: solid transparent;
    color: white;
    transition: color;
    transition-duration: 500ms;
    font-family: -apple-system;
    font-size: 20px;
}

.logout_btn:hover {
    color: red;
}