.friends_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.friends_list {
    /*display: grid;*/

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 700px;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.footer_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
}

.preloader_wrapper {
    position: absolute;
    /*z-index: 2;*/
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

