.nav {
    background: rgba(0, 0, 0, 0.7);
    grid-area: nav;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.item {
    margin-bottom: 5%;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    font-family: -apple-system;
}

.item:first-child {
    margin-top: 12%;
}


.link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
    transition: color;
    transition-duration: 500ms;
}

/*.link:active, .link:focus*/
.link:hover {
    cursor: pointer;
    color: #f84545;
    border: white 1px solid;
    border-radius: 5px;
    padding: 3px;
}

.item .activeLink {
    cursor: pointer;
    color: #f84545;
}
