* {
    margin: 0;
    padding: 0;
}

.old_posts {
    display: flex;
    margin-right: 64px;
}

.old_post_item {
    margin-left: 5px;
}

.img_wrapper {
    margin-top: 21px;
    width: 64px;
    height: 64px;
}

.ava {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.textarea {
    word-break: break-word;
    outline: none;
    resize: none;
    overflow: auto;
}


.buttons_wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.like p {
    font-weight: 600;
    transition: color;
    transition-duration: 500ms;


}

.like p:hover {
    cursor: pointer;
    color: #1616d5;

}

.change_button {
    margin-top: 10px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
    border-radius: 3px;
    align-self: flex-end;
    font-size: 16px;
}

.change_button:hover {
    box-shadow: 0px 0px 5px 1px #00C;
    opacity: 0.9;
}

.remove_button {
    margin-top: 10px;
    margin-left: 10px;
    width: 90px;
    height: 30px;
    cursor: pointer;
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
    border-radius: 3px;
    align-self: flex-end;
    font-size: 16px;
}

.remove_button:hover {
    box-shadow: 0px 0px 5px 1px #00C;
    opacity: 0.9;
}

