
.message_side_container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 97px;
}

.message_item {
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    /*breaks scrolling*/
    /*justify-content: flex-end;*/

    /*Internal scroll*/
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    max-height: calc(100vh - 145px);
}

.message_item :first-child {
    scroll-snap-align: start;
    margin-top: auto !important;
}

.input_container {
    border-top: 1px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.input {*/
/*    margin-right: 5%;*/
/*    width: 50%;*/
/*    height: 50%;*/
/*    word-break: break-word;*/
/*    outline: none;*/
/*    resize: none;*/
/*    overflow: auto;*/
/*    font-size: 14px;*/
/*}*/

.send_btn {
    cursor: pointer;
    width: 10%;
    height: 30%;
}

