*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.login{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login_form{
    display: flex;
    flex-direction: column;
    margin: 30px 0 20px 0;
    padding: 60px;
    background-color: #fff;
    border-radius: 4px;
    /*box-shadow: 0 1px 0 0 grey,0 0 0 1px grey;*/
}


.input{
    margin-bottom: 25px;
    width: 270px;
    padding: 6px 12px 6px;
    border-radius: 3px;
    outline: none;
    border: 1px solid grey;
    background: #fff;
    font-size: 14px;
    box-sizing: border-box;
    height: 35px;
    color: #000000;
    font-family: Arial,Georgia, sans-serif;
}

.auth_wrapper{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
.button{
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 3px;
    width: 100px;
    padding: 7px 16px 8px;
    cursor: pointer;
    text-align: center;
    background-color: #5181b8;
    border: 0;
    font-size: 14px;
    line-height: 20px;
    outline: 0;
    font-family: Arial,Georgia, sans-serif;
    color: #fff;
}

.button:hover{
    opacity: .88;
    text-decoration: none;
}
.button:active{
    padding: 8px 16px 7px;
}

.register_link{
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    font-family: Georgia, sans-serif;
    color: #2a5885;
}

.register_link:hover{
 text-decoration: underline;
}

