* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: 100vh;
    background-color: #edeef0;
}

body{
    width: 100%;
    height: 100%;
    background-color: #edeef0;
}


.container {
    width: 100%;
    height: 100%;
    background-color: #edeef0;
}



