.messages_container {
    display: inline-grid;
    grid-template-columns: 3fr 9fr;
    min-width: 100%;

}

.dialogs_items {
    background: rgba(142, 135, 135, 0.9);
    /*display: grid;*/
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;*/

    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-evenly;*/
    /*border-right: 1px solid red;*/
}

.messages_items {
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}

